#headerset {
  background-color: white;
  position: relative;
  width: 100%;
  min-width: 800px;
  height: 90px;
  z-index: 6;
  box-shadow: 0px 2px 5px #a1a1a1;
}
#headerset a {
  font-family: '微软雅黑';
  position: absolute;
  top: 44px;
  right: 90px;
}
#headerset a:link {
  text-decoration: none;
  color: #007423;
}
#headerset a:visited {
  text-decoration: none;
  color: #007423;
}
#headerset a:hover {
  text-decoration: none;
  color: #27B1B4;
  cursor: pointer;
}
#headerset a:active {
  text-decoration: none;
  color: #007423;
}
#logoTitle {
  position: absolute;
  top: 20px;
  left: 250px;
  cursor: pointer;
}
#hublists {
  position: relative;
  width: 100%;
  height: 100px;
}
#hublists ul {
  position: relative;
  z-index: 2;
  margin: 16px auto;
  text-align: center;
  padding-left: 0;
  width: 648px;
  height: 50px;
}
#hublists ul li {
  float: left;
  cursor: pointer;
  position: relative;
  width: 60px;
  text-align: center;
  color: white;
  line-height: 50px;
  border-radius: 5px;
  background-color: #78d278;
  margin-left: 20px;
  height: auto;
  list-style-type: none;
  font-family: '微软雅黑';
}
#hublists ul li:hover {
  background-color: green;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.banLine {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 0;
  min-width: 800px;
  height: 5px;
  background-color: #78d278;
}
.turnGreen {
  background-color: green;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.biggerFont {
  font-size: 25px;
}
.slightMoveup {
  top: -5px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#displayArea {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: white;
  border: 2px dashed black;
  margin: 30px auto;
}
#displayArea .recruit {
  z-index: 2;
  position: absolute;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 0;
  top: 0;
  right: 0;
  background-color: green;
  filter: alpha(opacity = (70));
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
#displayArea .confirmBtn {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 120px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 40px;
  font-family: '微软雅黑';
  background-color: blue;
}
#displayArea .confirmBtn:hover {
  background-color: #0e13d4;
}
#displayArea .nextTime {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 10px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 40px;
  font-family: '微软雅黑';
  background-color: #8080a1;
}
#displayArea .nextTime:hover {
  background-color: #B6B6E0;
}
#displayArea .picZone {
  z-index: 1;
  width: 40%;
  height: 100%;
  background-color: blue;
  filter: alpha(opacity = (20));
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
}
#displayArea .picZone span {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 50px;
}
#displayArea .explains {
  z-index: 1;
  width: 60%;
  height: 100%;
  background-color: red;
  filter: alpha(opacity = (20));
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
}
#displayArea .explains span {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
}
#urname {
  right: 610px;
  position: absolute;
  bottom: 20px;
  border: none;
  padding: 0;
  width: 175px;
  height: 40px;
  border-radius: 5px;
}
#urclass {
  right: 425px;
  position: absolute;
  bottom: 20px;
  border: none;
  padding: 0;
  width: 175px;
  height: 40px;
  border-radius: 5px;
}
#urphone {
  right: 240px;
  position: absolute;
  bottom: 20px;
  border: none;
  padding: 0;
  width: 175px;
  height: 40px;
  border-radius: 5px;
}
